@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>MLS</h1>
    <p class="lead">Bienvenido a  Consultas de jugadores MLS</p>
    <p><a href="/Jugador" class="btn btn-primary btn-lg">Consultar Jugadores &raquo;</a></p>
</div>


